[submodule "3rdparty/JUCE"]
	path = 3rdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "3rdparty/R2JUCE"]
	path = 3rdparty/R2JUCE
	url = https://github.com/masanaohayashi/R2JUCE.git
