<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>tokyo.studio-r.sc55.sc55AUv3</string>
    <key>CFBundleName</key>
    <string>SC-55</string>
    <key>CFBundleDisplayName</key>
    <string>SC-55</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.3</string>
    <key>CFBundleVersion</key>
    <string>0.0.3</string>
    <key>NSHumanReadableCopyright</key>
    <string>2026 STUDIO-R</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPrincipalClass</key>
      <string>SC55AUFactoryAUv3</string>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.AudioUnit-UI</string>
      <key>NSExtensionAttributes</key>
      <dict>
        <key>AudioComponentBundle</key>
        <string/>
        <key>AudioComponents</key>
        <array>
          <dict>
            <key>name</key>
            <string>STUDIO-R: SC-55</string>
            <key>description</key>
            <string>SC-55</string>
            <key>factoryFunction</key>
            <string>SC55AUFactoryAUv3</string>
            <key>manufacturer</key>
            <string>Rin2</string>
            <key>type</key>
            <string>aumu</string>
            <key>subtype</key>
            <string>Sc55</string>
            <key>version</key>
            <integer>3</integer>
            <key>sandboxSafe</key>
            <true/>
            <key>tags</key>
            <array>
              <string>Synth</string>
            </array>
          </dict>
        </array>
      </dict>
    </dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
  </dict>
</plist>
